.database-list {
	width: 90%;
	margin: auto;

	th:first-child, th[scope=row] { width: 4px; padding: 0; }

	td {
		color: $gray-light;
		&:nth-of-type(1) { font-weight: bold; color: $dark-blue; }
	}

	> tbody > tr:hover {
		background-color: $lighter-blue;

		th {
			background-color: $basic-blue;
		}

		td {
			color: $gray-dark;
			&:nth-of-type(1) { color: $darker-blue; }
		}
	}
}