
.navbar-brand {
	font-size: 48px;
	float: none;
	color: #333;
	
	&:hover { color: #555; }
	
	small {
		font-size: 20px;
		color: #666;
	}
	
	img {
		display: inline;
		height: 40px;
		margin-bottom: 8px;
	}
}

.nav-list > li {
    float: left;
}

.header {
	margin-bottom: 0;
	
	.container-fluid {
		padding: 0;
	}
	
	.row {
		position: relative;
		margin-left: 0;
		margin-right: 0;

		.nav-tabs {
			border: none;

			position: absolute;
			bottom: 0;
			right: 12px;

			li > a {
				color: gray;

				&:focus, &:hover {
					border-bottom: none;
				}
			}

			li.active {
				font-weight: bold;

				&:nth-of-type(2) { a { background: $light-green; color: $dark-green; } }
				&:nth-of-type(3) { a { background: $light-blue; color: $dark-blue; } }
			}
		}

		.tab-pane {
			border-radius: $border-radius-base;

			&:nth-of-type(1) {
				background: $light-green;

				a {
					color: $dark-green;
					&:focus, &:hover { background: $lighter-green; }
				}
			}
			&:nth-of-type(2) {
				background: $light-blue;

				a {
					color: $dark-blue;
					&:focus, &:hover { background: $lighter-blue; }
				}
			}
		}
	}
}