//* Basic Bootstrap */
@import "bootstrap";
@import "bonus";

//* Variables */
$basic-green: #8CC182;
$basic-blue:  #82b9c2;
$light-green: lighten($basic-green, 20%);
$light-blue:  lighten($basic-blue,  20%);
$lighter-green: lighten($basic-green, 30%);
$lighter-blue:  lighten($basic-blue, 30%);
$dark-green: darken($basic-green, 20%);
$dark-blue:  darken($basic-blue,  20%);
$darker-green: darken($basic-green, 40%);
$darker-blue:  darken($basic-blue,  40%);

// $gray: $gray-600;
// $gray-dark: $gray-800;
// $gray-light: $gray-400;

//* Basic Layout */
@import "header";
.footer { margin-top: 48px; }
@import "jumbotron";

//* Typo Color */
.title-border {
	border-left: 8px solid $gray-dark;
	padding-left: 8px;
}

.blue { color: $darker-blue; border-color: $dark-blue; }
.gray { color: $gray; border-color: $gray-light; }

//* Databases */
// @import "database";
@import "database-list";
