// ~ Variable Colors ~~~~
$basic-green: #8CC182;
$basic-blue:  #82b9c2;
$light-green: lighten($basic-green, 20%);
$light-blue:  lighten($basic-blue,  20%);
$lighter-green: lighten($basic-green, 30%);
$lighter-blue:  lighten($basic-blue, 30%);
$dark-green: darken($basic-green, 20%);
$dark-blue:  darken($basic-blue,  20%);
$darker-green: darken($basic-green, 40%);
$darker-blue:  darken($basic-blue,  40%);

.title-border {
	border-left: 8px solid $gray-dark;
	padding-left: 8px;
}

.blue { color: $darker-blue; border-color: $dark-blue; }
.gray { color: $gray; border-color: $gray-light; }

// ~ Header ~~~~
.logo {
	display: inline;
	height: 40px;
	margin-bottom: 8px;
}

.header .row {
	position: relative;
	margin-left: 0;
    margin-right: 0;

	h1 {
		font-size: 48px;
	}

	.nav-tabs {
		border: none;

		position: absolute;
		bottom: 0;
		right: 12px;

		li > a {
			color: gray;

			&:focus, &:hover {
				border-bottom: none;
			}
		}

		li.active {
			font-weight: bold;

			&:nth-of-type(2) { a { background: $light-green; color: $dark-green; } }
			&:nth-of-type(3) { a { background: $light-blue; color: $dark-blue; } }
		}
	}

	.tab-pane {
		border-radius: $border-radius-base;

		&:nth-of-type(1) {
			background: $light-green;

			a {
				color: $dark-green;
				&:focus, &:hover { background: $lighter-green; }
			}
		}
		&:nth-of-type(2) {
			background: $light-blue;

			a {
				color: $dark-blue;
				&:focus, &:hover { background: $lighter-blue; }
			}
		}
	}
}


.nav-list > li {
    float: left;
}

// ~ List Databases ~~~~
.database-list {
	width: 90%;
	margin: auto;

	th:first-child, th[scope=row] { width: 4px; padding: 0; }

	td {
		color: $gray-light;
		&:nth-of-type(1) { font-weight: bold; color: $dark-blue; }
	}

	> tbody > tr:hover {
		background-color: $lighter-blue;

		th {
			background-color: $basic-blue;
		}

		td {
			color: $gray-dark;
			&:nth-of-type(1) { color: $darker-blue; }
		}
	}
}

// ~ Footer ~~~~
.footer {
	margin-top: 48px;
}


// ~ List Databases ~~~~
.database {
	margin: 0 20px;
	
	.table {
		margin: auto;
		min-width: $container-md;
		width: auto;
	}
}


.marker {
	text-align: center;
	border-left: 1px solid $table-border-color;
}

.form-control.marker {
	padding: $padding-base-vertical/2 $padding-base-horizontal/2;
	width: 24pt;
}

th.marker {
	width: 8pt;
	font-size: $font-size-small;
	writing-mode: sideways-lr;
	-webkit-writing-mode: sideways-lr;
	-ms-writing-mode: sideways-lr;
}