{% extends "layout/base.twig" %}

{% block content %}
<!-- Slider -->
<div class="slider_container">
  <div class="container js-flickity">
    <div class="slides">
      <div class="slide-img col-xs-6">
        <img src="{{ base_url("img/une/idiots.jpg") }}" alt="The Maker">
      </div>
      <div class="slide-txt col-xs-6">
        <h2>IDIOTS - Parodie iPhone</h2>
        <p>Idiots est un court-métrage d’animation réalisé par Big Lazy Robot (BLR), qui met en scène des robots qui passent leur journée sur leur ....</p>
        <p><a href="">Lire la suite</a></p>
      </div>
    </div>
    <div class="slides">
      <div class="slide-img col-xs-6">
        <img src="{{ base_url("img/une/reality.jpg") }}" alt="The Maker">
      </div>
      <div class="slide-txt col-xs-6">
        <h2>Making Of de Bolides</h2>
        <p>VoicIl a bénéficié de l'enregistrement d'une musique originale composée et orchestrée par Baptiste Brice et interprétée par l'orchestre symphonique d'Asnières-sur-Seine dirigé par Alejandro Sandler.....</p>
        <p><a href="">Lire la suite</a></p>
      </div>
    </div>
    <div class="slides">
      <div class="slide-img col-xs-6">
        <img src="{{ base_url("img/une/maker.jpg") }}" alt="The Maker">
      </div>
      <div class="slide-txt col-xs-6">
        <h2>The Maker - Parodie Scarface</h2>
        <p>Idiots est un court-métrage d’animation réalisé par Big Lazy Robot (BLR), qui met en scène des robots qui passent leur journée sur leur ....</p>
        <p><a href="">Lire la suite</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}