{% extends "layout/base.twig" %}

{% block title %}Welcome to MLVAbank{% endblock %}

{% block content %}

{% include 'layout/info_messages.twig'%}

<div class="jumbotron">

	<h1>Welcome to MLVAbank</h1>
	<p>The aim of this site is to facilitate microbes (including pathogenic bacteria) genotyping essentially for epidemiological purposes.Typing is sequence-based. Data from a variety of assays can be managed such as polymorphic tandem repeat typing (MLVA).</p>
	<p>We hope you will find this tool of use for your work and the making of communities.</p>
	<br/>
	<div class="row">
		<div class="col-sm-6"><a class="btn btn-primary btn-block" href="http://mlva.u-psud.fr/MLVAnet/" role="button">Learn more &raquo;</a></div>
		<div class="col-sm-6"><a class="btn btn-primary btn-block" href="https://docs.google.com/document/d/1sgoc9U_EOGuWCBWuRClG3IQ4se-WIsMfSQf4FFnYotI/edit" role="button">User Guide &raquo;</a></div>
	</div>

</div>

<p class="text-muted" align="center">If you find MLVAbank useful, please quote On-line resources for bacterial micro-evolution studies using MLVA or CRISPR typing. Grissa I, Bouchon P, Pourcel C, Vergnaud G. Biochimie. 2008 Apr;90(4):660-8. We welcome feedback and suggestions for improvements, please send them to <a href="mailto:gilles.vergnaud@u-psud.fr">Gilles Vergnaud</a>.</p>

{% endblock %}

{% block footer_js %}
{{ parent () }}
<script src="{{ base_url('dist/js/jquery.tablesorter.min.js') }}"></script>
<script>
	$(document).ready(function() {
		// Table sorter
		$(".database-list").tablesorter({
			theme: 'blue',
			headerTemplate: '{content} <small>{icon}</small>',
		});
  });
</script>
{% endblock %}
