<footer class="footer">
	<div class="col-xs-6">
		<p>&copy; MLVAbank 2016</p>
	</div>
	<div class="col-xs-6">
		<p align="right"><small>This website is hosted by <a href="http://www.u-psud.fr/">University Paris-Saclay, Orsay, France</a>.</small></p>
	</div>
</footer>