{% extends "layout/base.twig" %}

{% block title %}Create a Database{% endblock %}
{% set menu = "databases" %}

{% block content %}
</div>

<div id="app">
  <br>
  <div class="loader"></div>
  <h5 class="text-center">Loading...</h5>
  <br>
</div>

<div class="container">
{% endblock %}

{% block footer_js %}
{{ parent () }}

<style media="screen">
  .loader {
    margin: auto;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>

<script type="text/javascript">
  const databaseInfos = null
  const baseUrl = '{{ base_url() }}'
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.2.0/papaparse.js" charset="utf-8"></script>
<!-- <script src="http://localhost:8080/dist/databases.js"></script> -->
<script src="{{ base_url('dist/js/databases.js') }}"></script>
{% endblock %}
