{% extends "layout/base.twig" %}

{% block title %}My Databases{% endblock %}

{% block content %}
<div class="row"><div class="col-sm-12">
	<h3 class="title-border blue">My Groups' Databases</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada velit in dolor sodales, non dapibus urna bibendum. Curabitur gravida, neque quis malesuada vulputate, arcu purus posuere nibh, a scelerisque dui justo vel nibh. Vestibulum eget urna in lacus vulputate malesuada non ut dui. Nullam a lacus nibh. Mauris eget ornare lorem, ut dapibus odio. Maecenas at ex sollicitudin tellus commodo sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eleifend, enim at pharetra vestibulum, tortor mi cursus neque, laoreet efficitur lacus leo eget eros. Sed bibendum dui sed sagittis placerat. </p>
	
	{% for group in groups %}
		<h3 class="blue">{{ group.name }}</h3>
		{% include "databases/list.twig" with { 'bases' : group.bases } %}
	{% endfor %}
	
</div></div>
{% endblock %}
