{% extends "layout/base.twig" %}

{% block title %}My Databases{% endblock %}
{% set menu = "databases" %}

{% block content %}
<div class="row">
	<div class="col-sm-12">
		{% include 'layout/info_messages.twig'%}
		<h3 class="title-border blue">My Databases</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada velit in dolor sodales, non dapibus urna bibendum.</p>
		{% include "databases/list.twig" with { 'bases' : personal } %}
		
		<br/><br/>
		
		<h3 class="title-border blue">My Groups</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada velit in dolor sodales, non dapibus urna bibendum.</p>

		{% for group in groups %}
			<h3 class="blue">{{ group.name }}</h3>
			{% include "databases/list.twig" with { 'bases' : group.bases } %}
		{% endfor %}
	</div>
</div>
{% endblock %}
