{% extends "layout/base.twig" %}

{% block title %}Public Databases{% endblock %}
{% set menu = "databases" %}

{% block content %}
<div class="row"><div class="col-sm-12">
	<h3 class="title-border blue">Public Databases</h3>
	<p>Here are, the public databases, everyone (including non-user) can read and export them.</p>
	
	{% include "databases/list.twig" %}
	
</div></div>
{% endblock %}
