<div class="row">
  <div class="col-sm-6 col-xs-12">
    {{validation_errors('<div class="alert alert-danger" role="alert">','</div>')}}
    {% if error %}
      <div class="alert alert-danger" role="alert">{{error}}</div>
    {% endif %}
    {% if success %}
      <div class="alert alert-success" role="alert">{{success}}</div>
    {% endif %}
    {% if info %}
      <div class="alert alert-info" role="alert">{{info}}</div>
    {% endif %}
  </div>
</div>
